{% extends "base.twig" %}

{% block content %}

    
     <div class="page-content">
        {{ post.content }}  <!-- This will display the Gutenberg content from the page -->
    </div>
{#
    <div class="section">
        <h2>Aktuelle Faktenfilter</h2>
        <div class="l-cards">
            {% for post in allgemein_posts %}
                {% include "partial/teaser-long.twig" with { post: post } %}
            {% else %}
                <p>Keine "Allgemein"-Beiträge gefunden.</p>
            {% endfor %}
        </div>   
    </div> #}
<div class="section container">



    <h2>Faktenfilter</h2>
    <div class="row">
        {% for post in posts %}
            {% if loop.index <= 3 %}
                {# Show 3 teaser.twig components first (col-4 each) #}

                    {% include 'partial/teaser.twig' with {'post': post} %}

            {% elseif loop.index == 4 %}
                {# Show 1 teaser-medium.twig (col-4) #}
                <div class="col-12 col-md-6 col-lg-4 mb-95">
                    {% include 'partial/teaser-wide-inside.twig' with {'post': post} %}
                </div>
            {% elseif loop.index == 5 %}
                {# Show 1 teaser-wide-inside.twig (col-8) #}
                <div class="col-8 mb-95">
                    {% include 'partial/teaser-wide-inside.twig' with {'post': post} %}
                </div>
            {% elseif loop.index == 6 %}
                {# Show 1 text-only.twig (col-4) #}
                <div class="col-4 mb-95">
                    {% include 'partial/text-only.twig' with {'post': leserbrief_page} %}
                </div>
            {% elseif loop.index <= 8 %}
                {# Show 2 more teaser.twig components (col-4 each) #}
         
                    {% include 'partial/teaser.twig' with {'post': post} %}

            {% endif %}
        {% endfor %}

        {# Manually add teaser-wide-inside.twig at index 9 (col-8) #}
   {% if posts|length >= 8 %}
    <div class="col-8">
        {% include 'partial/teaser-wide-inside.twig' with {'post': posts[5]} %}
    </div>
{% endif %}


        {# Manually add text-only.twig at index 10 (col-4) #}
        <div class="col-4">
            {% include 'partial/text-only.twig' with {'post': vorschlag_page} %}
        </div>
    </div>
</div>



{% endblock %}


