<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="slogan-footer">Lass uns gemeinsam die Zukunft bestimmen.</p>
            <h3>Faktenfilter</h3>
        </div>
        <div class="col-10 offset-2 col-md-4 offset-md-8">
            <a href="https://www.instagram.com" class="social-link" target="_blank">Instagram</a><br/>
            <a href="https://www.tiktok.com" class="social-link" target="_blank">TikTok</a>
        </div>
         <div class="col-12">
            <p class="copyright">© Léna Benninger 2025, all rights reserced</p>
        </div>
    </div>
</div>
