<footer>
<div class="container">
    <div class="row">
    <div class="col-offset-5">
        <nav>
            <ul class="nav-pages">
                <li><a href="#">Startseite</a></li>
                <li><a href="#">Faktenfilter</a></li>
                <li><a href="#">Empfehlungen</a></li>
                <li><a href="#">Benutzerkonto</a></li>
            </ul>
        </nav>
        </div>
            <div class="nav-interaction">
                <ul class="nav-pages">
                    <li><a href="#">Startseite</a></li>
                    <li><a href="#">Faktenfilter</a></li>
                </ul>
            </div>
    </div>    
</div>
 Copyright {{"now"|date('Y')}}</footer>