

{# {% extends "base.twig" %}

{% block content %}

<div class="section">
    <h2>Aktuelle Faktenfilter</h2>
    <div class="l-cards">
        {% for post in allgemein_posts %}
            {% include "partial/teaser.twig" with { post: post } %}
        {% else %}
            <p>Keine "Allgemein"-Beiträge gefunden.</p>
        {% endfor %}
    </div>   
</div>

<div class="section">
    <h2>Hörenswert</h2>
    <div class="l-cards">
        {% set first_empfehlung = empfehlung_post|first %}
        {% if first_empfehlung %}
            {% include "partial/recommendation.twig" with { post: first_empfehlung } %}
        {% else %}
            <p>Keine "Empfehlung"-Beiträge gefunden.</p>
        {% endif %}
    </div> 
</div>

<div class="section">
    <h2>Mitreden</h2>
    <div class="l-cards">
{% include 'partial/mitreden.twig' with { post: leserbrief_page } %}
    </div>
        <div class="l-cards">
{% include 'partial/mitreden.twig' with { post: vorschlag_page } %}
    </div>
</div>

{% endblock %} #}

{% extends "base.twig" %}

{% block content %}
    
    <div class="page-content">
        {{ post.content }}  <!-- This will display the Gutenberg content from the page -->
    </div>

    <div class="section">
        <h2>Aktuelle Faktenfilter</h2>
        <div class="container">
        <div class="row">
            {% for post in allgemein_posts %}
                {% include "partial/teaser.twig" with { post: post } %}
            {% else %}
                <p>Keine "Allgemein"-Beiträge gefunden.</p>
            {% endfor %}
        </div>  
        </div>   
    </div>

    <div class="section">
        <h2>Hörenswert</h2>
        <div class="l-cards">
            {% set first_empfehlung = empfehlung_post|first %}
            {% if first_empfehlung %}
                {% include "partial/recommendation.twig" with { post: first_empfehlung } %}
            {% else %}
                <p>Keine "Empfehlung"-Beiträge gefunden.</p>
            {% endif %}
        </div> 
    </div>

    <div class="section">
        <h2>Mitreden</h2>
        <div class="l-cards-column">
        <div class="l-cards">
            {% include 'partial/mitreden.twig' with { post: leserbrief_page } %}
        </div>
        <div class="l-cards">
            {% include 'partial/mitreden-reverse.twig' with { post: vorschlag_page } %}
        </div>
        </div>
    </div>

    <div class="section">
        <h2>Newsletter</h2>
        <p class="highlighted">Bleib immer auf dem Laufenden! Abonniere unseren Newsletter für die neuesten Updates und spannende Inhalte.</p>
        <input class="link-recom" type="text" id="newsletter-mail" name="newsletter-mail" placeholder="e-mail">
    </div>

{% endblock %}

