<div class="l-card-recom">
  <div class="card-recom">
    <div>
      {% if post.thumbnail %}
        <img src="{{ post.thumbnail.src('large') }}" alt="{{ post.title }}" />
      {% else %}
        <img src="/path/to/fallback.jpg" alt="Fallback image" />
      {% endif %}
    </div>
  </div>
  <div class="card-recom-info">
    <h3>{{ post.content|split('<p>')[1]|split('</p>')[0] }}</h3>
    <div class="card-interaction-no-like">
      <a class="cta cta-dark" href="{{ leserbrief_page.link }}">Mehr lesen</a>
    </div>
  </div>
</div>
