
  <div class="card-long">
    <div class="card-long-info">
      <h3>{{ post.title }}</h3>
      <div class="card-interaction">
<label class="like">
  <input type="checkbox" hidden>
  <svg class="heart" viewBox="0 0 24 24" fill="none" stroke="var(--orange-dark)" stroke-width="1.3" stroke-linecap="miter" stroke-linejoin="miter">
    <path d="M12 21L3 12C1 9 3 4 7 4c2 0 3.5 1.5 5 3 1.5-1.5 3-3 5-3 4 0 6 5 4 8l-9 9z"/>
  </svg>
</label>
      <a class="cta cta-light" href="{{ post.link }}">Mehr lesen</a>
      </div>
    </div>
    <div>
    {% if post.thumbnail %}
      <img src="{{ post.thumbnail.src('large') }}" alt="{{ post.title }}" />
    {% else %}
      <img src="/path/to/fallback.jpg" alt="Fallback image" />
    {% endif %}
    </div>
  </div>


